<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @target.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @target.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @target.rating %>
</p>

<p>
  <strong>Url:</strong>
  <%= @target.url %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
